@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Sarala&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;

}

.menu-hamburguer {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top: 2.1rem;
    right: 2.1rem;
    z-index: 100;
    cursor: pointer;

}

.line {
    background-color: #FFF;
    width: 100%;
    height: 2px;
    margin: 0.5rem 0;
    transition: all 0.2s ease-in;
    box-shadow: 2px 2px 5px black;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #00000099;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 20s;
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

.banner {
    position: absolute;
    left: 10%;
    top: 30%;

}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #FFF;
    position: fixed;
    top: 0;
    color: transparent;
    right: -20rem;
    box-shadow: 0px 0px 10px black;
    transition: all 0.7s ease-in-out;
}


.show-menu .sidebar {
    right: 0;
}

.show-menu .menu-hamburguer {
    top: 29px;
    transition: all 0.3s;
}

.show-menu #line1 {
    transform: rotate(-45deg) translate(-18px, 14px);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(45deg);
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    list-style: none;
    text-align: center;
}

.menu-link {
    font-family: monospace;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
    color: #000;
}

.banner h1 {
    color: #FFF;
    font-size: 3rem;
    font-family: 'Baloo Da 2', serif;
    font-weight: 200;
    text-shadow: 0.3rem 0.4rem 5px #00000099;
    line-height: 4rem;
    margin-bottom: 2rem;
    animation: moveBanner 1.5s
}

@keyframes moveBanner {
    0% {
        transform: translateX(-999px);
    }

    100% {
        transform: translateX(0);
    }
}

.banner p {
    font-family: 'Josefin Slab', monospace;
    color: #FFF;
    font-weight: 400;
    font-size: 2.2rem;
    text-shadow: 0.2rem 0.2rem 2px #00000099;
    margin-bottom: 2rem;
    animation: moveBanner 2s
}

.banner button {
    font-family: monospace, serif;
    color: #FFF;
    border: none;
    background: #f953c6;
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6);
    padding: 1rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 0.2rem;
    animation: moveBanner 2.5s
}

.banner button:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.social-media {
    position: absolute;
    bottom: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media i {
    height: 2.5rem;
    width: 2.5rem;
    color: #000;
    font-size: 2rem;
    color: #000000;
}